name: CD - Deploy Backend to Azure App Service

on:
  push:
    branches: [ "main" ]
    paths:
      - "backend/**"
      - ".github/workflows/cd-backend.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy backend
        uses: azure/webapps-deploy@v3
        with:
          app-name: "competencytracker"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ./backend
